[submodule "third_party/ca_style_guide"]
	path = third_party/ca_style_guide
	url = https://github.com/colinaudergon/ca_style_guide.git
[submodule "lib/pico_audio_i2s_32b"]
	path = lib/pico_audio_i2s_32b
	url = https://github.com/elehobica/pico_audio_i2s_32b.git
[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "lib/u8g2"]
	path = lib/u8g2
	url = https://github.com/olikraus/u8g2.git
